<ul>
  {% if demoNavItems.length >= 1 %}
    {% for demoTag in demoNavItems %}
      <li class="{{demoTag}}">
        <a data-filter="{{demoTag}}" href="#">{{demoTag | capitalize}}</a>
      </li>
    {% endfor %}
  {% endif %}
  <li class="audio">
    <a data-filter="audio" href="#">Audio</a>
  </li>
  <li class="css">
    <a data-filter="css" href="#">CSS</a>
  </li>
  <li class="games">
    <a data-filter="games" href="#">Games</a>
  </li>
  <li class="visual">
    <a data-filter="visual" href="#">Visual</a>
  </li>
</ul>