{% set demoTitle = title %}
{% set allDemoUpdates = collections.contentUpdates | contentUpdatesOfType('demos') %}
{# Need to figure out how to get content updates only for this specific demo 
https://www.11ty.dev/docs/languages/nunjucks/#usage-4 
#}
{% set currentDemoUpdates = allDemoUpdates | contentUpdatesForDemo('Comparator of Repos') %}

<h1>{{ demoTitle }}</h1>
{% if currentDemoUpdates.length %}
  <ul>
    {% for item in currentDemoUpdates | reverse %}
      <li>
        {# This line ↓↓ returns the HTML output (what .md files are compiled into) EXACTLY the way we want it!! ↓↓ #}
        {{ item.templateContent | truncate(100) | safe }}
        {% if item.data.date %}
          <a href="{{item.url}}">
            <time datetime="{{ item.data.date | w3DateFilter }}" class="dt-published">{{ item.data.date | dateFilter }}</time>
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{# This line ↓↓ returns frontMatter + content in a strange format ↓↓ #}
{# {% renderFile "./src/content-updates/1.md" %} #}

{# This line ↓↓ returns only the raw content without .md formatting!! ↓↓ #}
{# {{ item.template.frontMatter.content }} #}