{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
{{ content | safe }}
{% endset %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}

{# Pen list content #}
{# TODO: fix demo list styles on homepage #}
{# {% set demoListHeading = pensHeading %}
{% set demoList = collections.demos %} #}

{# Archive link #}
{% if postListItems.length < collections.posts.length %}
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
  <main id="main-content" tabindex="-1">

    {% for tag in collections.tagList%}
      <p class="postlist-item">
        {{tag}}
        <span>{{ collections[tag].length }}</span>
      </p>
    {% endfor %}

    {% include "partials/components/intro.njk" %}
    {% include "partials/components/post-list.njk" %}
    {% include "partials/components/demo-list.njk" %}
    {% include "partials/components/pagination.njk" %}
  </main>
{% endblock %}